.AddressForm {
	display: flex;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.SearchBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9;
}

.SearchBox h1 {
	color: #ffffff;
	font-weight: bold;
	font-size: 4rem;
	margin-bottom: 2rem;
	text-align: center;
}

@media (max-width: 991.98px) { 
	.SearchBox {
		padding: 1rem;
	}
	.SearchBox h1{
		font-size: 3rem;
	}
	.SearchBox form{
		width: 100%;
	}
	.AddressForm{
		width: 100%;
		display: flex;
		flex-direction: column;
		max-width: 500px;
	} 
}
 