.OrderTutorialItem {
	background-color: #ffffff;
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	border-radius: 7px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.OrderTutorialItem img {
	height: 100px;
}
.OrderTutorialItem p {
	color: var(--darkColor);
	margin-top: 2rem;
	font-size: 1.3rem;
}

@media (max-width: 575.85px) { 
	.OrderTutorialItem{
		width: 280px;
		height: 280px;
	}
	.OrderTutorialItem img {
		width: 90px;
		height: auto;
	}
}

@media (min-width: 576px) and (max-width: 991.85px) { 
	.OrderTutorialItem{
		width: 400px;
		height: 400px;
	}
	.OrderTutorialItem img {
		height: 80px;
	} 
}
 
 @media (min-width: 992px) and (max-width: 1399.98px) { 
	.OrderTutorialItem{
		width: 270px;
		height: 270px;
	}
	.OrderTutorialItem img {
		height: 60px;
	}
}
 