.Cart, .CartEmpty{
   padding: 2rem 3rem;
   min-height: 200px;
}

.CartItemsWrapper{
   overflow-y: auto;
   min-height: 150px;
   max-height: 250px;
   padding-right: 1rem;
}

.CartItemsWrapper::-webkit-scrollbar {
   width: 5px;
}
 
.CartItemsWrapper::-webkit-scrollbar-track {
   background: #f1f1f1; 
}

.CartItemsWrapper::-webkit-scrollbar-thumb {
   background: var(--primeColor); 
}

.CartEmpty{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #afafaf;
}

.CartEmpty h4{
   margin-bottom: 0 !important;
}

.CartEmpty svg{
   width: 4rem;
   height: auto;
   margin-bottom: 1rem;
}

.CartConfig{
   width: 100%;
   max-width: 500px;
   margin: auto;
   height: auto;
   max-height: 100%;
   overflow: hidden;
   padding: 4rem 2rem;
}