.AuthLoginForm {
	width: 100%;
	padding: 1rem 4rem;
	max-width: 500px;
	margin: auto;
}
.AuthLoginForm h3{
	display: none;
}
.AuthLoginFormConfig h3{
	display: block;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 3rem;
}
.AuthLoginForm div{
	margin-bottom: 0.8rem;
}
.isResturantCheck{
	margin-top: 0.5rem !important;
    margin-bottom: 0 !important;
}
.isResturantCheck label {
	font-size: 1.1rem;
	margin-bottom: 0;
	color: var(--darkColor);
}
.isResturantCheck input {
	margin-right: 0.5rem;
}
.LoginBtn {
	background-color: var(--primeColor);
	color: var(--whiteColor);
	width: 100%;
	padding: 0.6rem;
	border-radius: 5px;
	margin: 0.6rem 0 1rem;
	font-size: 1.2rem;
}
.Signup {
	color: var(--primeColor) !important;
	background: none;
	text-decoration: underline;
	font-weight: bold;
}
.SignupInfo {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 0 !important;
}
.SignupInfo p {
	margin: 0;
	margin-right: 0.4rem;
}

@media (max-width: 767.85px){
	.AuthLoginFormConfig{
		padding: 4rem 1rem;
	}
}

@media(min-width: 768px){
	.AuthLoginFormConfig{
		padding: 6rem 1rem;
	}
}