/* .Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fafafa;
	width: 600px;
	z-index: 999;
} */
.Info {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--whiteColor);
	border-bottom: 2px solid var(--greyColor3);
	margin-bottom: 1rem;
}
.Info button {
	border: none;
	outline: none;
	background: none;
	font-size: 25px;
}
.Info h3 {
	margin: 0;
}
