.Info {
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--whiteColor);
	border-bottom: 2px solid var(--greyColor3);
}
.Info button {
	border: none;
	outline: none;
	background: none;
	font-size: 25px;
}
.Info h3 {
	margin: 0;
}

@media (max-width: 768px) { 
	.Info{
		padding: 1rem;
	} 
	.Info h3{
		font-size: 1.4rem;
	}
	.Info button{
		width: 28px;
		 height: 28px;
		 display: flex;
		 align-items: center;
	}
	.Info button img{
		width: 100% !important;
		height: auto;
	}
 
  }
 