.ReviewItem {
	background-color: #fafafa;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin-bottom: 2.5rem;
	padding: 2rem;
	height: 210px;
	overflow: auto;
	word-break: break-all;
}

.ReviewItem::-webkit-scrollbar {
	width: 10px;
}

.ReviewItem::-webkit-scrollbar-track {
	background: var(--greyColor3);
}

.ReviewItem::-webkit-scrollbar-thumb {
	border-radius: 5px;
   background: var(--primeColor);
}


.ReviewItem > div:first-child {
	margin-bottom: 1rem;
	font-weight: bold;
}
.ReviewItem > div:first-child > p:first-of-type {
	/* margin-right: 1rem; */
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
.ReviewItem > div:first-child > p {
	color: var(--blackColor);
	margin: 0;
}
.ReviewItem > div:last-child {
	color: var(--blackColor);
	font-size: 1.1rem;
}

@media(max-width: 767.85px){
	.ReviewItem{
		margin: 0 1rem 2.5rem;
		padding: 1.5rem;
		height: auto;
	}
	.ReviewItem > div:first-child {
		font-size: 0.9rem;
	}
	.ReviewItem > div:first-child > p:first-of-type {
		font-size: 1.1rem;
	}
	.ReviewItem > div:last-child {
		font-size: 1rem;
	}
	
}