.Header {
	position: relative;
	margin-bottom: 2rem;
}
.Hero_Config{
	height: 150px;
}
.Lip_Section {
	height: auto;
	position: relative;
	padding-bottom: 2rem;
	max-width: 1200px;
	background-color: #ffffff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	z-index: 9;
}

.Lip_Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding-top: 100px;
	padding-left: 10%;
	margin: auto;
	height: 100%;
}
.Lip_Content_Config{
	padding-bottom: 125px;
}
.Title {
	font-weight: bold;
	text-transform: capitalize;
}
.Rate span{
	margin-left: 0.5rem;
	color: var(--blackColor);
}
.Hours p, .Payment p {
	margin-bottom: 0.5rem;
	font-weight: bold;
	color: #555555;
	font-size: 1rem;
}
.Payment svg{
	width: 1.7rem;
	height: auto;
	color: var(--primeColor);
}

.AddressForm {
	display: flex;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.Resturant_Img {
	width: 150px;
	height: 150px;
	background-color: #f7f7f7;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-position: center center;
	background-size: cover;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.Lip_Search {
	height: 150px;
	padding: 0 10%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Lip_Search form{
	display: flex;
	flex-direction: column;
	width: 100%;
	box-shadow: none;
}
.Lip_Search form .AddressInput{
	padding: 0
}
.Lip_Search form input{
	border: 1px solid var(--primeColor);
}

.SwapBtn{
	background: none;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 10px 20px;
	width: 90%;
	margin: auto;
	display: block;
	border-radius: 5px;
}
@media (min-width: 576px) { 
	.SwapBtn{
		width: auto;
		margin: 0 2rem;
	}
}


@media (min-width: 768px) { 
	.ResWrapper{
		padding: 0 2rem;
	}
	.SwapBtn{
		margin: 0;
	}
}


@media (min-width: 992px) {
	.Header {
		height: 500px;
		margin-bottom: 200px;
	}
	.Hero_Config{
		height: 500px;
	}
	.Lip_Section {
		top: -150px;
		width: 95%;
		margin: auto;
		max-width: 1000px;
		height: 300px;
		border-radius: 10px;
	}
	.Lip_Section_Config{
		height: auto !important;
		top: 0 !important;
		transform: translateY(-50%);
	}
	.Resturant_Img {
		width: 200px;
		height: 200px;
	}
	.Lip_Search{
		padding: 1.2rem 0;
		height: 90px;
		background-color: #fafafa;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.Lip_Search form{
		flex-direction: row;
		width: 400px;
		justify-content: center;
	}
	.Lip_Search form .AddressInput{
		width: 100%;
		margin-bottom: 0;
	}
	.Lip_Content {
		padding: 0;
		display: grid;
		grid-template-columns: 50px 1fr 1fr 1fr 50px;
		grid-template-rows: 30px 70px 70px 40px;
		align-items: start;
		padding-bottom: 0;
	}
	.Title {
		font-weight: bold;
		grid-column: 2/3;
		grid-row: 2/3;
		text-transform: capitalize;
	}
	.Desc {
		grid-column: 2/3;
		grid-row: 3/4;
	}
	.Rate {
		grid-column: 3/4;
		grid-row: 3/4;
		justify-self: center;
		align-self: center;
	}
	.Main {
		grid-column: 3/4;
		grid-row: 4/5;
		justify-self: center;
	}
	.Hours {
		grid-column: 4/5;
		grid-row: 2/3;
		padding-left: 25%;
	}
	.Payment {
		grid-column: 4/5;
		grid-row: 3/4;
		justify-self: left;
		padding-left: 25%;
	}
	.ResWrapper{
		margin: auto;
		width: 95%;
		max-width: 1000px;
		padding-left: 0;
		padding-right: 0;
	}
		
}
