.Accordion {
	/* border: 3px solid var(--primeColor); */
	margin: 1rem 0;
}

.AccordionTag {
	background-color: var(--primeColor);
	color: var(--whiteColor);
	padding: 1rem 4rem;
	font-size: 1.2rem;
}

.TagEdit{
	width: 50%;
}
.editTagInput p{
	font-size: 1rem;
}
.editTagInput input{
	margin-bottom: 0.5rem;
	padding: 5px 10px;
}
.TagEdit span:first-of-type{
	margin-right: 1rem;
}

.AccordionList {
	list-style: none;
	margin: 0 !important;
	padding: 0 4rem;
	background-color: #fcfcfc;
}

.AccordionList li {
	padding: 2rem 0;
	border-bottom: 2px solid var(--greyColor3);
}

.AccordionList > div{
	border-bottom: 2px solid var(--greyColor3);
}

.AccordionList li:last-of-type {
	border: none;
}

.AccordionList li,
.AccordionTag {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.AddNewMealBtn{
	text-align: center;
	margin-left: 1rem;
	margin-right: 2rem;
}

.AddNewMealBtn svg{
	width: 25px;
	height: 25px;
	color: var(--whiteColor) !important;
}