.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	padding: 0 5rem;
	background-color: var(--greyColor1);
	/* position: relative; */
}
.Navbar a {
	color: var(--blackColor);
}
.Navbar a:hover,
.Navbar a:active {
	text-decoration: none;
}
.List {
	width: 50%;
	height: 100%;
}
.List button {
	border: none;
	background: var(--greyColor1);
}
.List ul {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
	justify-content: flex-end;
	margin: 0;
	height: 100%;
}
.List ul li {
	margin: 0 1rem;
}

.BurgerIcon{
	display: none;
}

@media (max-width: 768px) { 
	.Navbar{
		padding: 0 2rem;
	}
	.List{
		display: none;
	}
	.BurgerIcon{
		display: block;
		cursor: pointer;
	}
	.BurgerIcon span{
		display: block;
		width: 30px;
 	 	height: 3px;
  		background-color: var(--primeColor);
		margin: 5px 0;
	}
	.ModalContent{
		display: none;
	}	
}
 
 @media (max-width: 992px) { 
 
  }
 
 @media (max-width: 1200px) { 
 
  }
