.AddressInput {
	position: relative;
	display: flex;
}
.InvalidAddress{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--danger);
	color: var(--whiteColor);
	text-transform: capitalize;
	padding: 0.5rem 1rem;
	position: absolute;
	top: 110%;
	width: 100%;
}
.InvalidAddress p{
	margin: 0;
}
.InvalidAddress span{
	cursor: pointer;
}
.AddressInputStyle {
	outline: none;
	background-color: #ffffff;
	border: none;
	width: 100%;
	padding: 0 1rem;
}
.AddressInputResturant{
	outline: none;
	background-color: #ffffff;
	width: 100%;
	border: 1px solid var(--inputBorder);
	padding: 0.7rem;
	border-radius: 5px;
}
.ResturantBtn {
	background-color: #f86932;
	color: #ffffff;
	border: none;
	font-size: 1.5rem;
	padding: 8px 15px;
}
.ResturantBtn:disabled{
	background-color: #ec7a4c;
}
.ResturantBtn:hover {
	text-decoration: none;
	color: #ffffff;
}
.LocateBtn {
	position: absolute;
	top: 50%;
	right: 0;
	width: 25px;
	height: auto;
	cursor: pointer;
	transform: translate(-50%, -50%);
}
.LocateBtn img {
	width: 100%;
	height: auto;
}

@media (max-width: 992px) { 
	.AddressInputStyle{
		padding: 1rem 3rem 1rem 1rem;
	}
	.AddressInput{
		margin-bottom: 0.5rem;
	}
	.InvalidAddress{
		top: 0;
		width: 100%;
		left: 0;
		right: 0;
		padding: 1rem;
		z-index: 9;
	}
}

@media (min-width: 991.98px) { 
	.AddressInputStyle{
		width: 400px;
	}
}