.AddressInput{
   position: relative;
   display: flex;
}
.AddressInput input{
   outline: none
}
.ResturantBtn{
   background-color: #F86932;
   color: #ffffff;
   border: none;
   font-size: 1.5rem;
   padding: 8px 15px;
}
.ResturantBtn:hover{
   text-decoration: none;
   color: #ffffff
}
.LocateBtn{
   position: absolute;
   top: 50%;
   right: 0;
   width: 25px;
   height: auto;
   cursor: pointer;
   transform: translate(-50%, -50%);
}
.LocateBtn img{
   width: 100%;
   height: auto;
}
