.Footer {
	background-color: var(--primeColor);
	color: var(--whiteColor);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 1rem;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.Footer p{
	margin-bottom: 0;
	text-transform: capitalize;
}

