.OrderTutorial {
	width: 100%;
	background-color: var(--greyColor1);
	text-align: center;
	padding: 10rem 0;
}
.OrderTutorial h1 {
	color: var(--blackColor);
	margin-bottom: 5rem;
	font-size: 3rem;
}
.OrderTutorialItemsWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/* @media only screen and (max-width: 1162px) {
	
} */
/* 
@media (max-width: 576px) { 
} */

@media (max-width: 768px) { 
}


@media (max-width: 992px) { 
	.OrderTutorial{
		padding: 10rem 1rem;
	}
	.OrderTutorial h1{
		font-size: 2.5rem;
	}
	.OrderTutorialItemsWrapper{
		flex-flow: column;
	}
}
 
 @media (max-width: 1200px) { 
	/* .OrderTutorialItemsWrapper {
		flex-flow: column;
	} */
  }
