.AuthSignupForm {
	width: 50%;
	margin: 0 auto;
}
.AuthSignupForm > div{
	margin-bottom: 2rem;
}
label,
.imgFileLabel {
	color: var(--blackColor);
	font-size: 1.2rem;
}
.isResturant {
	margin: 2rem 0;
}
.isResturant > div{
	margin-bottom: 2rem;
}
.isResturantHead {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 0.5rem !important;
}
.isResturantHead p {
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0.5rem;
	color: var(--blackColor);
	font-size: 1.2rem;
}
.isResturantCheck {
	margin-bottom: 2rem;
}
.imgFileLabel {
	margin-bottom: 1rem;
}
.isResturantCheck label {
	font-size: 1.1rem;
}
.isResturantCheck input {
	margin-right: 0.5rem;
}

@media(max-width: 575.85px){
	.AuthSignupForm{
		padding: 0 1rem;
	}
}

@media(max-width: 767.85px){
	.AuthSignupForm{
		width: 100%;
		margin: auto;
		max-width: 500px;
		padding: 0 2rem;
	}
	label,
	.imgFileLabel,
	.isResturantHead p {
		font-size: 1rem;
	}
	.AuthSignupForm input, .AuthSignupForm select, .AuthSignupForm textArea{
		padding: 0.5rem;
	}
	.AuthSignupForm {
		font-size: 0.7rem;
	}
}

/* .divFile {
	margin-bottom: 2rem;
}
.divFile > input {
	display: none;
}

.divFile svg {
	width: 6rem;
	height: 6rem;
	cursor: pointer;
	color: var(--inputBorder);
	border: 1px solid var(--inputBorder);
	border-radius: 5px;
	transition: 0.2s;
}

.divFile label:hover svg {
	color: var(--blue);
	border-color: var(--blue);
} */

/* .divFile label {
	display: block;
	margin-bottom: 1rem;
} */
